.container {
    margin: 0.5rem;   
}

.container[class*="card-body"] {
    padding: 0;
}

.autocomplete_roles > label > div {
    margin: 0;
}

.iconDropdown > ul > li > svg {
    margin-right: 1rem;
}