.loader {
  animation-name: loading;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  /* 25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(240deg);
  } */
  100% {
    transform: rotate(360deg);
  }
}
