.container {
    position: relative;
    display:inline;
    transition: .5s;
}

.title{
    position:absolute;
    opacity: 0;
    right:-50%;
    top:-250%;
    padding:.4rem .8rem;
    background:rgba(0,0,0,.5);
    color:#fff;
    transition:.5s;
    display:block;
}

.container:hover .title{
    opacity: 1;
}