/* .scrumboard {
  /* background-image: url('\public\images\Frame 4.png'); 
  background-position: center !important;
  /* background-repeat: no-repeat !important; 
  /* background-size: cover !important; 
  height: 100vh !important;
} */

::-webkit-scrollbar {
  width: 1px !important;
}

::-webkit-scrollbar-thumb {
  background: #5069e7 !important;
  border-radius: 5px !important;
}
